#linkIndex{
  text-decoration: underline;
}

.seccion-principal{
  background-color: #82c3a6;
  width: 100%;
  text-align: center;
}

.seccion-principal img{
  margin: 3%;
  width: 80%;
}

.seccion-secundaria{
  background-color: #d5c75f;
  /*
  border: 1px solid black;
  */
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: wrap;
}

.seccion-secundaria img{
  margin: 3%;
  width: 90%;
  vertical-align: middle;
}

[class^="img-sec-"]{
  -webkit-transition: transform 2s;
  transition: transform 2s;
}

@media (max-width:900px) {
  [class^="img-sec-"]{
    width: 100%;
  }
}

@media (min-width:901px) {
  [class^="img-sec-"]{
    width: 50%;
  }
}

.img-sec-1:hover{
  transform: rotate(10deg);
}

.img-sec-2:hover{
  transform: translate(20px, -5px);
}

.linkima:hover{
  text-decoration: none;
  background-color:transparent;
}
