#linkRetratos{
  text-decoration: underline;
}

#contenido{
  background-color: #d5c75f;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}

[class^="retrato-img-"]{
  width: 100%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

@media (min-width:901px) {
  .div-retrato{
    width: 31%;
  }
}

@media (max-width:900px) {
  .div-retrato{
    width: 90%;
  }
}

.retrato-img-1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.retrato-img-2,.retrato-img-4,.retrato-img-6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.retrato-img-3,.retrato-img-5{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
